{% extends 'base.html' %}
{% block title %} Sobre |{% endblock %}
{% block main %}
<h1 class="text-center mt-4 mb-5">Sobre</h1>
<br>
<div class="col-lg-12">
    <p class="text-center"> O site tem o intuito de ter publicações com anuncios de qualquer pessoa ou serviço prestado por ela.<br>
    Poste de tudo! desde informações, avisos, divulgação de lojas e serviços de forma totalmente <span class="text-danger text-uppercase">gratuita</span> <br>
    </p>
    <br>
    <br>
    <br>
    <p>
        Todas as publicações são checadas antes de serem efetivamente publicadas. afim de prevenir qualquer tipo de material que contenha os seguintes itens abaixo:<br>
        <br>
        <p class="text-uppercase">
            - venda de drogas <br>
            - venda de armas <br>
            - pornografia <br>
            - publicaçoes de difamações  <br>
            - racismo <br>
        </p>
    </p>
    <br>
    <br>
    <br>
    <br>   
</div>
{% include 'parciais/_messages.html' %}
{% endblock %}